{{ $file := .Get 0 }} <!-- Primeiro argumento: o arquivo -->
{{ $param := .Get 1 }} <!-- Segundo argumento: o parâmetro adicional -->
{{ $content := readFile $file }} <!-- Lê o conteúdo do arquivo Markdown -->

<!-- Pega o parâmetro "cliente" do Front Matter -->
<!-- {{/* $dynamicValue := .Page.Params.customer */}} -->

<!-- Concatena o prefixo com o valor dinâmico -->
<!-- {{/* $finalValue := printf "%s%s" $param $dynamicValue */}} -->

<!-- Obtem o conteudo do sgl.yaml -->
{{ $brand := .Page.Params.brand }}
{{ $d := index .Site.Data.sgl $brand  }}

<!-- Substitui as variáveis no conteúdo do template -->
{{ $content = $content | replaceRE `{{ customer }}` $d.customer }}
{{ $content = $content | replaceRE `{{ profile }}` $d.profile }}
{{ $content = $content | replaceRE `{{ url }}` $d.url }}
{{ $content = $content | replaceRE `{{ port }}` $d.port }}
{{ $content = $content | replaceRE `{{ tls }}` $d.tls }}

<!-- Renderiza o markdown -->
{{ $content = $content | markdownify }}
{{ $content }}